<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.koreait.cobox.model.domain.Notice" alias="Notice"/>		
		<typeAlias type="com.koreait.cobox.model.domain.Division" alias="Division"/>		
	</typeAliases>
	
	<mappers>
		<mapper resource="com/koreait/cobox/mybatis/mapper/NoticeMapper.xml"/>
		<mapper resource="com/koreait/cobox/mybatis/mapper/DivisionMapper.xml"/>
	</mappers>
	
</configuration>